
#load-banner {
    --load-text: "Loading...";
    font-size: 8vmin;
    transition: 0.4s ease-in-out;
    transition-property: opacity, filter;
    inset: 0;
    margin: 0;
    position: fixed;
    background: var(--page-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10000;
}

#load-banner:before {
    content: var(--load-text);
}

body.page-loaded #load-banner {
    opacity: 0;
    filter: brightness(0.8);
    pointer-events: none;
}
