
#load-banner {
    font-size: 4vmin;
    transition: 0.4s ease-in-out;
    transition-property: opacity, filter;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    background: var(--page-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body.page-loaded #load-banner {
    opacity: 0;
    filter: brightness(0.8);
}
